html, body {
    display: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;  
    /*background-color: #f9f9f9*/;
}

img {
    max-width: 100;
    height: auto;
}

a {
    color: white;
    text-decoration: none;
}

.wrapper {
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns:  repeat(10, 10vw);
    grid-template-rows: repeat(10, 10vh);
    /*grid-auto-rows: 1fr;*/
    color: #444;
}

.box {
    /*border: 1px solid black;*/
    margin: 0px;
}

.colorblack {
    background-color: #111111;
}

.head {
    border: 1px solid black;
    display: flex;
    grid-column: 5/7;
    grid-row: 3/6;
    align-items: center;
    justify-content: center;
    /*background-color: #111111;*/
}

.head img {
    /*border: 2px black solid;*/
    border-radius: 50%;
    max-height: 100%;
    max-width: auto;
    overflow: hidden;
}

.textblurb {
    display: flex;
    grid-column: 4/8;
    grid-row: 6/7;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
}

.textblurb p {
    background-color: black;
    color: white;
    padding: 5px;
    /*opacity: .9;*/
}

.nav {
    grid-column: 1/11;
    grid-row: 10;

}

.nav ul {
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    list-style-type: none;

    
}

.nav li {
    background-color: black;
    color: white;
    /*opacity: .9;*/
    margin: auto;
    padding: 10px 20px 10px 20px;
    margin: 0 10% 0 10%;
}

.workcenter {
    display: subgrid;
    grid-column: 3/9;
    grid-row: 2/5;
    
}

.work-item {
    background-color: black;
    list-style-type: none;
    background-color: black;
    /*opacity: .9;*/
    margin: 10px;
    padding: 0px 10px 0px 10px;
    border: 1px solid black;
}

body {
background: url(../img/pawel_kadysz_wall_01_0360_0640.jpg) no-repeat center fixed;
background-size: cover; }

input[type=text], select, textarea {

    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    margin-top: 6px; 
    margin-bottom: 16px; 
}

input[type=submit] {
    background-color: black;
    color: white;
    width: 100%;
    margin: auto;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: gray;
}

.contact {
    display: flex;
    /*border: 1px solid black;*/
    grid-column: 4/8;
    grid-row: 4/7;
} 

@media (min-width: 360px) and (max-width: 499px) {
    body {
    background: url(../img/pawel_kadysz_wall_01_0360_0640.jpg) no-repeat center fixed;
    background-size: cover; 
    }
    .workcenter {
        display: subgrid;
        grid-column: 1/9;
        grid-row: 2/8;
        
    }
    .work-item {
        background-color: black;
        list-style-type: none;
        background-color: black;
        /*opacity: .9;*/
        margin: 4px;
        padding: 0px;
        border: 1px solid black;
    }
    .nav li {
        background-color: black;
        color: white;
        /*opacity: .9;*/
        padding: 10px 20px 10px 20px;
        margin: 2px;
        list-style-type: none;
    }
}

@media (min-width: 500px) and (max-width: 767px) {
body {
    background: url(../img/pawel_kadysz_wall_01_0768_1024.jpg) no-repeat center fixed;
    background-size: cover; 
    }
}

@media (min-width: 768px) and (max-width: 979px) {
body {
    background: url(../img/pawel_kadysz_wall_01_0768_1024.jpg) no-repeat center fixed;
    background-size: cover; 
    }
}

@media (min-width: 980px) and (max-width: 1919px) {
body {
    background: url(../img/pawel_kadysz_wall_01_0980_1280.jpg) no-repeat center fixed;
    background-size: cover; 
    }s
}

@media (min-width: 1920px) and (max-width: 3728px) {
body {
    background: url(../img/pawel_kadysz_wall_01_1920_1440.jpg) no-repeat center fixed;
    background-size: cover; 
    }
}

@media (min-width: 3729px) {
body {
    background: url(../img/pawel_kadysz_wall_01_3729_2979.jpg) no-repeat center fixed;
    background-size: cover; 
    }
}